@page "/Bem_vindo"
<h3>Bem-vindo</h3>

<button class="btn btn-primary" @onclick="GoToLoginPage">Login</button>
<button class="btn btn-primary" @onclick="GoToCreatePage">Criar Conta</button>

@code {
    private void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/Login");
    }

    private void GoToCreatePage()
    {
        NavigationManager.NavigateTo("/Create");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
